h3, h5{
    text-align: center;
    font-weight: bold;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#exp{
    color: red;
}
#inc{
    color: green;
}

h4{
    font-weight: bold;  
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dailyNeed{
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border:2px solid black;
    background-color: lightgray;
}

#body{
    background-color: #164a4104;
}

h6{
    font-size: smaller;
    text-align: center;
}

#sumOfIncomes{
    color: black;
}

#titleHeader{
    text-align: right;
}

ion-card{
    background-color: #164a410a;
}