<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id='titleHeader'>הזמנות</ion-title>  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='top'>
    <button id='addReservation' (click)="addReservatoin()"><ion-icon name="add-circle-outline"></ion-icon></button>
    <h1>הזמנות</h1>
  </div>
  <div>
    <ion-list id ='body'>
      <ion-item-sliding *ngFor="let reserve of reserveses">
        <ion-card id='reserveCard'>
        <ion-item>
        <ion-label>
          <h2>שם: {{ reserve.name }}</h2>
          <h4>תאריך: {{ reserve.date }}</h4>
          <h4>שעה: {{ reserve.time }}</h4>
          <h4>כמות האנשים: {{ reserve.numOfClients }}</h4>
        </ion-label>
      </ion-item>
    </ion-card>
      <ion-item-options>
        <ion-item-option (click)="removeReservation(reserve)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
